bcrypt==3.2.2
cffi==1.15.0
click==8.1.3
colorama==0.4.4
Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
navec==0.10.0
numpy==1.22.4
pycparser==2.21
razdel==0.5.0
repoze.lru==0.7
Routes==2.5.1
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
slovnet==0.5.0
SQLAlchemy==1.4.37
threadpoolctl==3.1.0
torch==1.11.0
typing_extensions==4.2.0
Werkzeug==2.1.2
