<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/bootstrap(forms_only).css">
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>Conflict classifier</title>
</head>
<body>
<div class="container">
    <div class="navbar">
        <img src="../static/images/logo.png" class="logo" alt="logo">
        <nav>
            <ul>
                <li><a href="">CLASSIFIER</a></li>
                <li><a href="">ADMIN</a></li>
                <li><a href="">LOGOUT</a></li>
            </ul>
        </nav>
        {#            <img src="../static/images/menu.png" class="menu-icon">#}
    </div>

    <div class="row">
        <div class="col">
            <h1>Классификатор конфликтных ситуаций</h1>
            <p>Опишите свою уникальную ситуацию и мы попробуем определить её первопричину в соотвествии с индексами
                Хофстеде</p>
        </div>
        <div class="col">
            <form method="POST" id="contact">
                <p>Опишите ситуацию</p> <br>
                <textarea name="user_input_text" placeholder="Опишите свою ситуацию здесь...."
                          tabindex="5" required></textarea>
                <br><br>
                {{ form.csrf_token }}
                <div class="form-group">
                    <p>Выберите нацию</p> <br>
                    {{ form.country1(class="form-control") }}
                </div>
                <div class="form-group">
                    <br>
                    <p>Выберите нацию</p> <br>
                    {{ form.country2(class="form-control") }}
                </div>
                <br>
                <p>Решение</p> <br>
                <textarea name="user_output_text" placeholder="Здесь будет выведено решение"
                          tabindex="5" required>{{ prediction }}</textarea>
                <br>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Получение решения">Получить
                    решение
                </button>
            </form>
        </div>
    </div>

</div>
</body>
</html>